.App {
  text-align: center;
  /* -webkit-backdrop-filter: blur(10px); */
}

a:active {
  color: white;
}

/* a:hover {
  background-color: #555;
} */

a {
  color: white;
  font-family: helvetica;
  text-decoration: none;
}

.App-header {
  background-image: linear-gradient(
    rgb(63, 13, 153) 0%,
    rgb(81, 15, 168) 35%,
    rgb(124, 15, 168) 100%
  ) !important;
  color: white;
  width: 90%;
  margin: auto;
  margin: 2%;
  border-radius: 10px;
  opacity: 0.9;
  display: inline-block;
  padding: 2%;
}

.HeaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.Name_p {
  font-size: calc(10px + 2vmin);
  align-items: center;
  text-align: center;
  width: 55%;
}

.Header_p {
  color: white;
  width: 15%;
  align-items: center;
  font-size: calc(8px + 1vmin);
  text-decoration: none;
  color: "white";
  align-self: center;
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

@media screen and (max-width: 1000px) {
  .HeaderDetail {
    width: 100%;
  }

  .ProgressBar {
    width: 100%;
  }

  .SwitchTheme {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1000px) {
  .SwitchTheme {
    width: 48px;
    height: 48px;
  }
  .HeaderInfo_div {
    display: flex;
  }

  .ProfilePicture {
    flex: 1 2 auto;
    margin-right: 10%;
    align-self: center;
  }

  .HeaderDetail {
    height: 100%;
    width: 50%;
    flex: 2 1 auto;
    padding: 2%;
  }

  .ProgressBarComponent {
    width: 80%;
    display: flex;
    margin: 2rem;
  }

  .SkillsList {
    width: 70%;
  }
  .ProgressBar {
    width: 30%;
  }
}

.HeaderDetail {
  border-radius: 10px;
  display: flex;
}

.HeaderDetailText {
  width: 100%;
}

.HeaderInfo_div {
  height: 100%;
  width: 100%;
}

.ProfilePicture {
  border-radius: 50%;
  align-items: center;
  max-width: 144px;
  max-height: 144px;
  object-fit: contain;
}

.HeaderEmoji {
  font-size: calc(20px + 2vmin);
  text-align: end;
  justify-content: center;
  align-self: center;
}

.socialMediaButton {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  padding: 0;
  margin-right: 1%;
  cursor: pointer;
}
.socialMediaButton:active {
  background-color: #aaa;
  color: #eee;
}

.HeaderDivider {
  width: 3px;
  border-radius: 10px;
  background-image: linear-gradient(
    rgb(63, 13, 153) 0%,
    rgb(81, 15, 168) 35%,
    rgb(124, 15, 168) 100%
  ) !important;
  margin-right: 1%;
  margin-left: 1%;
  opacity: 0.8;
  z-index: 10;
}

.HeaderDetailTitle {
  font-size: calc(12px + 1vmin);
  font-size: 1.125rem;
  font-weight: 300;
}

.section {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.subText {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.9 !important;
}

.title {
  color: #fff;
  font-weight: 700;
  width: 30%;
  text-align: center;
  border-radius: 50rem;
  padding: 0.35rem 0.5rem;
  font-size: calc(1rem + 0.9vw);
}

/* .HamburgerMenu {
  /* max-width: 100% !important; */
/* overflow-y: none;
  overflow-x: none; */
/* overflow: hidden;
} */

.ProfilePicture {
  border-radius: 50%;
  align-items: center;
  max-width: 144px;
  max-height: 144px;
  object-fit: contain;
  flex: 1 2 auto;
  margin-right: 10%;
  align-self: center;
}

.SwitchTheme {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 20px;
}
