.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: linear-gradient(
    rgb(63, 13, 153) 0%,
    rgb(81, 15, 168) 35%,
    rgb(124, 15, 168) 100%
  ) !important;
  color: white;
  width: 90%;
  margin: auto;
  margin: 2%;
  border-radius: 10px;
  opacity: 0.9;
  display: inline-block;
  padding: 2%;
}

.HeaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.Name_p {
  font-size: calc(10px + 2vmin);
  align-items: center;
  text-align: start;
  width: 55%;
}

.Profile_p {
  width: 15%;
  align-items: center;
  font-size: calc(8px + 1vmin);
}

.Resume_p {
  width: 15%;
  align-items: center;
  font-size: calc(8px + 1vmin);
}

.ContactMe_p {
  width: 15%;
  align-items: center;
  font-size: calc(8px + 1vmin);
}

@media screen and (max-width: 1000px) {
  .HeaderInfo_div {
    height: 100%;
    width: 100%;
  }

  .ProfilePicture {
    border-radius: 50%;
    align-items: center;
    max-width: 144px;
    max-height: 144px;
    object-fit: contain;
  }

  .HeaderDetail {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    display: flex;
    color: black;
  }

  .SkillsList {
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #718096;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5 !important;
  }

  .ProgressBar {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .HeaderInfo_div {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .ProfilePicture {
    border-radius: 50%;
    align-items: center;
    max-width: 144px;
    max-height: 144px;
    object-fit: contain;
    flex: 1 2 auto;
    margin-right: 10%;
    align-self: center;
  }

  .HeaderDetail {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 100%;
    width: 50%;
    flex: 2 1 auto;
    display: flex;
    color: black;
    padding: 2%;
  }

  .ProgressBarComponent {
    width: 80%;
    display: flex;
    margin: 2rem;
  }

  .SkillsList {
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 70%;
    color: #718096;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5 !important;
  }
  .ProgressBar {
    width: 30%;
  }
}

.HeaderEmoji {
  font-size: calc(20px + 2vmin);
  text-align: end;
  justify-content: center;
  align-self: center;
}

.HeaderDivider {
  width: 3px;
  border-radius: 10px;
  background-image: linear-gradient(
    rgb(63, 13, 153) 0%,
    rgb(81, 15, 168) 35%,
    rgb(124, 15, 168) 100%
  ) !important;
  margin-right: 1%;
  margin-left: 1%;
  opacity: 0.8;
  z-index: 10;
}

.HeaderDetailTitle {
  font-size: calc(12px + 1vmin);
  font-size: 1.125rem;
  font-weight: 300;
}

.App-link {
  color: #61dafb;
}

.EducationSection {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.EducationTitle {
  color: #fff;
  background-color: #ffbe3d;
  font-weight: 700;
  width: 30%;
  text-align: center;
  border-radius: 50rem;
  padding: 0.35rem 0.5rem;
  font-size: calc(1rem + 0.9vw);
}

.EducationSubText {
  color: #718096;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.9 !important;
}

.WorkSection {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.WorkTitle {
  color: #fff;
  background-color: #5cc9a7;
  font-weight: 700;
  width: 30%;
  text-align: center;
  border-radius: 50rem;
  padding: 0.35rem 0.5rem;
  font-size: calc(1rem + 0.9vw);
}

.WorkSubText {
  color: #718096;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.9 !important;
}

.SkillsSection {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

.SkillsTitle {
  color: #fff;
  background-color: #008aff;
  font-weight: 700;
  width: 30%;
  text-align: center;
  border-radius: 50rem;
  padding: 0.35rem 0.5rem;
  font-size: calc(1rem + 0.9vw);
}

.SkillsSection {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}

/* .HeaderInfo_div {
  height: 100%;
  width: 100%;
  display: flex;

}

.ProfilePicture {
  border-radius: 50%;
  align-items: center;
  max-width: 144px;
  max-height: 144px;
  object-fit: contain;
  flex: 1 2 auto;
  margin-right: 10%;
  align-self: center;
} */

/* .HeaderDetail {
  background-color: whitesmoke;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  flex: 2 1 auto;
  display: flex;
  color: black;
  padding: 2%;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
